/* makes sizing simpler */
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
    margin: 0;
    padding: 0;
}

/* dark mode user-agent-styles */
html {
    color-scheme: dark light;
}

/* min body height */
body {
    min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

/* table */
table {
    margin: auto;
    border: 3px solid slategray;
    padding: 10px;
    border-collapse: collapse;
}

td {
    background-color: lightgray;
    text-align: center;
    font-weight: bold;
    /* No borders if not highlighted/marked, seems to be easier on eyes*/
    border: 2px solid lightgray;
    /* border: 2px solid white; */
    /* TODO: responsive based on width and height */
    width: 60px;
    height: 60px;
}

.mapCellRows {
    background-color: #6e7a73;
    text-align: left;
    padding-left: 5px;
}

.mapCellCols {
    background-color: #6e7a73;
    vertical-align: text-top;
    padding-top: 5px;
}

.indexCell {
    background-color: #6e7a73;
    text-align: right;
    padding-right: 5px;
}

.indexCellCol {
    background-color: #6e7a73;
    vertical-align: bottom;
    padding-right: 5px;
}

.highlight {
    filter: contrast(65%);
}

.section {
    border: 3px solid #f8a100;
    /* Thicker border */
}

td:hover {
    box-shadow: inset 0 0 20px #f8a100;
}
